.button {
	font-family: 'Roboto', sans-serif;
	width: 145px;
	height: 50px;
	background-color: #24cd98;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(24, 18, 114, 0.5);
}
.button:hover {
	background-color: #38f495;
	color: #504f4b;
	box-shadow: 2px 2px 2px rgb(81, 78, 110);
}

@media screen and (min-width: 600px) {
	.button {
		width: 220px;
		height: 60px;
		font-size: 22px;
	}
}

@media screen and (min-width: 1100px) {
	.button {
		width: 250px;
		height: 70px;
		font-size: 28px;
	}
}
