.container {
	width: 80%;
	height: 60vh;
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: space-evenly;
}
.headers {
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	text-align: center;
	width: 100%;
}
.continueButton {
	margin: 0 auto;
	width: 80%;
}

@media screen and (min-width: 480px) {
	.container {
		width: 60%;
	}
	.headers {
		font-size: 32px;
	}
	.continueButton {
		width: 60%;
	}
}
