.container {
	width: 90%;
	height: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.msn {
	position: absolute;
	padding: 30% 5%;
	text-align: center;
	background-color: black;
	border-radius: 10px;
	height: 100%;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
	z-index: 300;
}
.box {
	display: flex;
	background-color: #ffffff;
	height: 750px;
	border-radius: 10px;
}
.cards {
	width: 90%;
	margin: auto;
	height: 700px;
	overflow-y: auto;
}

.headers {
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	text-align: center;
	width: 100%;
	grid-column: content;
	grid-row: headers;
}

@media screen and (min-width: 600px) {
}
