:root {
	--main-radius: 5px;
	--main-padding: 5px;
}

.container {
	display: grid;
	height: 100vh;
	width: 310px;
	margin: auto;
	grid-template-columns: 77.5px 77.5px 77.5px 77.5px;
	grid-template-rows: 0.5fr 1.2fr 0.8fr 1fr 1fr 1fr;
	grid-template-areas:
		'nav nav nav nav'
		'email email email email'
		'googlelabel googlelabel googlelabel googlelabel';
	grid-gap: 0.2rem;
}

.navbar {
	background: aqua;
	grid-area: nav;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	width: 375px;
	margin-left: 0px;
}
.signup {
	background-color: royalblue;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: signup;
}
.login {
	background-color: navy;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: login;
}
.fullname {
	background-color: bisque;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: fullname;
}
.email {
	background-color: firebrick;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: email;
}
.password {
	background-color: greenyellow;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: password;
}
.or {
	background-color: steelblue;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: or;
}
.forgotpass {
	background-color: brown;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: forgotpass;
}
.loginwith {
	background-color: burlywood;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: loginwith;
}
.facebookicone {
	background-color: mediumspringgreen;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: facebookicone;
}
.googleicone {
	background-color: rosybrown;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: googleicone;
}
.googlelabel {
	background-color: salmon;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: googlelabel;
}
.facebooklabel {
	background-color: skyblue;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: facebooklabel;
}
.buttoncontinue {
	background-color: wheat;
	border-radius: var(--main-radius);
	padding: var(--main-padding);
	grid-area: buttoncontinue;
}
/*
@media only screen and(max-width:550px) {
	.container {
		grid-template-columns: 310px;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
}*/

/*
<div id='navbar'>Navbar</div>
				<div id='signup'>Sign up</div>
				<div id='login'>Login</div>
				<div id='fullname'>Full Name</div>
				<div id='email'>Email</div>
				<div id='password'>Password</div>
				<div id='forgotpass'>Forgot Password?</div>
				<div id='or'>Or</div>
				<div id='loginwith'>Login With:</div>
				<div id='facebookicone'>facebook icone</div>
				<div id='googleicone'>google icone</div>
				<div id='facebooklabel'>Facebook</div>
				<div id='googlelabel'>Google</div>
				<div id='buttoncontinue'>Continue </div>

*/
