.backdrop {
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.5;
	position: absolute;
	z-index: 5;
}
.spinnerPosition {
	width: 100%;
	margin: 40% auto;
	text-align: center;
	z-index: 6;
}
