.container {
	background-color: #ffffff;
	width: 100%;
	height: 140px;
	border-radius: 0 0 10px 10px;
}

.loginWith {
	font-size: 16px;
	color: #504f4b;
	font-family: 'Playfair Display', serif;
	padding-top: 15px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
}
.icones {
	width: 300px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.facebookIcone {
	flex-direction: column;
	font-size: 16px;
}
.googleIcone {
	flex-direction: column;
	font-size: 16px;
}
.textGoogle {
	padding-top: 5px;
	margin-left: -3px;
	color: #504f4b;
}
.textGoogle:hover {
	color: #29a07b;
}
.textFacebook {
	padding-top: 5px;
	margin-left: -8px;
	color: #504f4b;
}
.textFacebook:hover {
	color: #29a07b;
}
