.container {
	height: 235px;
	width: 100%;
}
.box {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	width: 280px;
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 10px;
	z-index: 2;
}

.header {
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	color: #11b9f0;
	text-align: center;
	width: 100%;
	text-shadow: 0px 1px 1px black;
	z-index: 2;
}
.text {
	font-size: 16px;
	text-align: center;
	width: 90%;
	color: #504f4b;
	margin: 0 auto;
	z-index: 2;
}
.button {
	text-align: center;
	margin-bottom: 5px;
	z-index: 12;
}

@media screen and (min-width: 480px) {
}
