.container {
	width: 100%;
	height: 1100px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.msn {
	position: absolute;
	margin: 2px;
	padding: 1% 3%;
	background-color: black;
	border-radius: 5px;
	color: #ffffff;
	font-size: 14px;
	opacity: 0.3;
}
.headings {
	margin: auto;
}
.subcontainer {
	display: flex;
	width: 90%;
	margin: auto;
	background-color: #ffffff;
	border-radius: 10px;
	height: 90%;
}
.box {
	margin: auto;
	width: 90%;
	height: 95%;
	overflow-y: auto;
}
.card {
	width: 100%;
}

.headers {
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	text-align: center;
	width: 100%;
	grid-column: content;
	grid-row: headers;
}

@media screen and (min-width: 600px) {
	.container {
		height: 1500px;
	}
	.box {
		height: 90%;
	}
}
@media screen and (min-width: 1000px) {
	.container {
		height: 1500px;
	}
	.box {
		height: 90%;
	}
}
