.container {
	display: grid;
	min-height: 100vh;
	grid-template-columns: [grid-start]1fr[content-start]10fr[content-end]1fr[grid-end];
	grid-template-rows: 1fr [headers-start]max-content[headers-end] 1fr [personalInfo-start]max-content[personalInfo-end] 0 [continue-start]max-content [continue-end]1fr;
}

.headers {
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	text-align: center;
	width: 100%;
	grid-column: content;
	grid-row: headers;
}
.personalInfo {
	grid-column: grid;
	grid-row: personalInfo;
}
.continueButton {
	width: 100%;
	grid-column: grid;
	grid-row: continue;
}

@media screen and (min-width: 600px) {
	.container {
		height: 100vh;
		grid-template-columns: [grid-start]3fr[content-start]12fr[content-end]3fr[grid-end];

		grid-template-rows: 1fr [headers-start]max-content[headers-end] 1fr [personalInfo-start]max-content[personalInfo-end] 0 [continue-start]max-content [continue-end]1fr;
	}
	.headers {
		font-size: 32px;
		grid-column: content;
		text-align: center;
	}
	.continueButton {
		grid-column: content;
		grid-row: continue;
	}
	.personalInfo {
		grid-column: content;
		grid-row: personalInfo;
	}
}
