.heading {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	text-align: center;
	color: #504f4b;
}

@media screen and (min-width: 600px) {
	.heading {
		font-size: 24px;
	}
}

@media screen and (min-width: 1000px) {
	.heading {
		font-size: 30px;
	}
}
