.heading {
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	text-align: center;
	color: #504f4b;
	text-shadow: 1px 2px 2px #adadad;
}
.headingWhite {
	color: #ffffff;
}

@media screen and (min-width: 600px) {
	.heading {
		font-size: 28px;
	}
}

@media screen and (min-width: 1000px) {
	.heading {
		font-size: 32px;
	}
}
