.input {
	height: 50px;
	line-height: 60px;
	text-align: center;
	color: #504f4b;
	background-color: #ffffff;
	border-radius: 5px;
	margin-top: 2%;
}
input[type='text'] {
	font-size: 16px;
	color: #504f4b;
	vertical-align: middle;
}

.label {
	font-family: 'Roboto, sans-serif';
	font-size: 16px;
	text-align: left;
	color: #ffffff;
}
.icon {
	margin-right: 20px;
	width: 25px;
}

@media screen and (min-width: 600px) {
	.input {
		height: 60px;
		line-height: 77px;
		font-size: 24px;
	}
	input[type='text'] {
		font-size: 24px;
	}
	.label {
		font-size: 24px;
	}

	.icon {
		margin-right: 30px;
		width: 35px;
	}
}
