.container {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	row-gap: 20px;
	padding-bottom: 10%;
	padding-top: 10%;
}

@media screen and (min-width: 600px) {
	.container {
		row-gap: 30px;
	}
}
