:root {
	--main-radius: 5px;
	--main-padding: 5px;
}
.alert {
	position: absolute;
	width: 100%;
	text-align: center;
	justify-content: center;
	z-index: 7;
	margin: 10% auto;
}

.container {
	display: grid;
	min-height: 800px;
	grid-template-columns: [grid-start]1fr[content-start]10fr[content-end]1fr[grid-end];
	grid-template-rows: 1fr[loginOptions-start]63px [loginOption-end ]0px[triangle-start] max-content [triangle-end]1fr [loginForm-start]max-content [loginForm-end]1fr [forgotPass-start]max-content[forgotPass-end]1fr [or-start]max-content[or-end]0fr[loginWith-start]max-content[loginWith-end]1fr[personalInfo-start]max-content[personalInfo-end]0px[continue-start]max-content [continue-end];
}

.headers {
	font-family: 'Playfair Display', serif;
	height: 63px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-column: content;
	grid-row: loginOptions;
}
.unselected {
	font-size: 16px;
	color: #504f4b;
	width: 50%;
	text-align: center;
}
.selected {
	font-size: 16px;
	color: #ffffff;
	width: 50%;
	text-align: center;
	padding: auto auto;
	background-color: #11b9f0;
	height: 63px;
	line-height: 63px;
	border-radius: 10px;
}
.triangleLogin {
	margin-left: 60%;
	margin-top: -4px;
	grid-column: content;
	grid-row: triangle;
}
.triangleSignup {
	margin-left: 30%;
	margin-top: -4px;
	grid-column: content;
	grid-row: triangle;
}
.loginForm {
	grid-column: content;
	grid-row: loginForm;
}
.forgotLink {
	text-decoration: none;
	display: flex;
	color: #504f4b;
	justify-content: space-between;
	grid-column: content;
	grid-row: forgotPass;
	font-size: 14px;
}
.forgotLink_text {
	color: #504f4b;
}
.forgotLink_text:hover {
	color: #29a07b;
}
.or {
	font-family: 'Playfair Display', serif;
	color: #ffffff;
	text-align: center;
	padding-top: 1%;
	font-size: 20px;
	height: 40px;
	grid-column: content;
	grid-row: or;
	background-image: linear-gradient(
		to left,
		#38f495,
		#15bfe7,
		#11b9f0
	);
	border-radius: 10px 10px 0 0;
}
.loginWith {
	color: #504f4b;
	grid-column: content;
	grid-row: loginWith;
}
.personalInfo {
	grid-column: grid;
	grid-row: personalInfo;
}

.continueButton {
	width: 100%;
	margin: 0 auto;
	grid-column: grid;
	grid-row: continue;
	padding-bottom: 30px;
}

@media screen and (min-width: 600px) {
	.container {
		grid-template-columns: [grid-start]3fr[content-start]10fr[content-end]3fr[grid-end];
		grid-template-rows: 1fr [loginOptions-start]63px[loginOption-end triangle-start] max-content [triangle-end]1fr [loginForm-start]max-content [loginForm-end]1fr [forgotPass-start]max-content[forgotPass-end] 1fr [or-start]max-content[or-end] 0 [loginWith-start]max-content[loginWith-end]1fr[personalInfo-start]max-content[personalInfo-end] 0px[continue-start]max-content [continue-end];
	}
	.personalInfo {
		grid-column: content;
		grid-row: personalInfo;
	}
	.continueButton {
		grid-column: content;
		grid-row: continue;
	}
}
