.container {
	height: 50px;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	background-image: linear-gradient(
		to right,
		#38f495,
		#15bfe7,
		#11b9f0
	);
	margin-top: 0px;
	display: flex;
}

.company {
	display: flex;
}
.companyIcon {
	margin: auto;
}
.company_name {
	margin-left: 25px;

	font-size: 24px;
	text-shadow: 0px 1px 1px #0000002f;
	font-family: 'Playfair Display', serif;
	color: #ffffff;
}
.login_desktop {
	display: none;
}
.icons {
	display: none;
}

@media screen and (min-width: 600px) {
	.login_desktop {
		display: block;
	}
	.login_mobile {
		display: none;
	}
	.icons {
		height: 50px;
		display: flex;
		width: 280px;
		justify-content: space-evenly;
		align-items: center;
	}
}

@media screen and (min-width: 900px) {
	.icons {
		height: 50px;
		display: flex;
		width: 330px;
		justify-content: space-evenly;
		align-items: center;
	}
}
